<!DOCTYPE html>
<html >
	<head>
		<meta charset="UTF-8"></meta>
		<title>Notes</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/cssnotes.css">
	</head>

	<!--<script type="text/javascript">
		var result;
		window.addEventListener("load", function() {
			console.info(document.getElementById('secretIn').value);

			b = document.getElementById("submitButton");
			b.addEventListener("click", checkToken, false);
		}, false);
    </script>-->

    <body>
		<div>
			<div>
				<div class="title">
					<h1>Notes</h1>
				</div>
				<div class="title">
					<ul>
						<li class="menu"><a href="/pijaginw/safeyourself/logout">logout</a></li>
						<li class="menu"><a href="/pijaginw/safeyourself/settings">change password</a></li>
					</ul>
				</div>

				<div class="notes">
					<form action='/pijaginw/safeyourself/notes' method='POST'>
						<p>Add a note:</p>
						<div class="noteArea">
							<textarea class="note" value="" id="noteTextarea" name="noteTextarea"></textarea>
						</div>
						<input type='hidden' id="secretIn" name="secretIn" value="{{ token }}">
						<input type='submit' value='Add' id='submitButton'>

						{% if notes %}
							<ul>
								{% for user in notes %}
									{% for note in notes[user] %}
										<div class="oldnote">
											<li><p class="userName">{{ user }} writes...</p>{{ note }}</li>
										</div>
									{% endfor %}
								{% endfor %}
							</ul>
						{% else %}
							<em>no notes has been added yet :(</em>
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</body>
</html>