* {
	box-sizing: border-box;
}
*:focus {
	outline: none;
}
body {
	font-family: Verdana, sans-serif;
	background-color: #D1B6E1;
	padding: 50px;
}
.login {
	margin: 20px auto;
	width: 300px;
}
.login-screen {
	background-color: #FFF;
	padding: 20px;
	border-radius: 5px;
}
.app-title {
	text-align: center;
	color: #777;
}
.login-form {
	text-align: center;
}
.control-group {
	margin-bottom: 10px;
}
.hint {
	color: #f15c5c;
	font: bold .8em Verdana, sans-serif;
}
input {
	text-align: center;
	background-color: #ECF0F1;
	border: 2px solid transparent;
	border-radius: 3px;
	font-size: 16px;
	font-weight: 200;
	padding: 10px 0;
	width: 250px;
	transition: border .5s;
}
input:focus {
	border: 2px solid #3498DB;
	box-shadow: none;
}
.secret {
	display: none;
}